[Unit]
Description=perspektiv daemon for graphically reporting system events

[Service]
Type=simple
ExecStart=/usr/bin/env perspektiv

[Install]
WantedBy=default.target

